body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /*text-align: center;*/
    /*padding-top: 50px;*/
}

span {
    color: darkgreen;
}

/*button {*/
/*    background-color: #008CBA;*/
/*    color: white;*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/